/***** CSS placed here will be applied to all skins on the entire site. *****/

/**
/* @import statements here. THESE MUST BE PLACED FIRST BEFORE ANYTHING ELSE */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); /*Material Design Icons*/
/* Separate style sheets with a pipe (|) */
@import url("/load.php?mode=articles&only=styles&articles=MediaWiki:Mbox.css|MediaWiki:Usercolors.css|MediaWiki:CustomBackground.css|MediaWiki:Infobox.css|MediaWiki:DropDown.css");
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:CustomSlider.css&only=styles";
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:LocalNavExploreIcons.css&only=styles";

/* TOC: Table of Contents 

You can use CTRL + F to look for the CSS' corresponding snippet (Just make sure to turn on
	case sensitive search if available). To find a class when customizing the site's CSS, use inspect element.

VAR: Variables for use on the site. Links colours together for ease of change.

01/??: ???
02/TN: Tabber
03/DB: Databox

04/CTOC: Custom Page TOC
05/LTC: Link Customization, Navbox
06/IHC: Image Highlights

07/IO: Image Overlays
08/CGHCT: Header/Custom Text
09/MPC: Main Page CSS

Special Contents
MC: Mainpage Customization 
IW: Interwiki Customization 
BY: Main body 
MS: Miscellaneous
Table of Contents */

:root {
	--wikihd: #153785;
	--wikihddark: #031c4e;
	--wikihddarker: #041530;
	--wikihdtwo: #2d4d95;
	--wikihddarktwo: #031c4e;
	--wikibg: var(--themed-page-background);
}


/* 03/DB Databox */
.databox {
	position: relative;
	padding: .35em;
	background: var(--wikihd);
	width: auto;
	height: auto;
	font: 18px 'Rubik';
	text-align: center;
	color: #FFF;
	margin: 0;
	text-transform: uppercase;
	transition: text-shadow .15s ease;
}
.databox:hover {
	text-shadow: 0 0 6px rgba(255,255,255,.4);
}
.theme-fandomdesktop-dark .databox::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 0 0 12px 12px;
	border-color: var(--wikihd) #282b2b;
}
.theme-fandomdesktop-light .databox::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 0 0 12px 12px;
	border-color: var(--wikihd) #D7E0E4;
}
.theme-fandomdesktop-dark .databox-background {
	background: #303030;
}
.theme-fandomdesktop-light .databox-background {
	background: #C5D5DB;
}



/* 04/CTOC Custom Page TOC */
.theme-fandomdesktop-dark .toc {
	background-color: #45407a38;
}

.theme-fandomdesktop-light .toc {
	background-color: #04014a0f;
}

.toc {
	background-color: var(--theme-page-background-color--secondary);
  border: 0px solid transparent;
  border-left: 4px solid var(--theme-accent-color) !important;
}

.toc .toctitle {
    padding: 9px 12px;
}

#toc > ul {
	display: block;
	margin: 0;
	border-radius: 0 0 6px 6px;
	padding: 10px;
	background-color: transparent;
	transition: padding .5s, border-left-color .1s;
}
#toc > ul a {
	padding: 2px;
	line-height: 1.8em;
	display: grid;
	grid-template-columns: max-content auto;
	transition: line-height .5s, opacity .5s .2s;
}
#toc .toctogglecheckbox:checked ~ ul a {
	line-height: 0px;
	opacity: 0;
	visibility: hidden;
	transition: line-height .5s .2s, opacity .5s, visibility 0s .7s;
}


/* 09/MPC Main Page Customization */
body.theme-fandomdesktop-dark .light {
  display: none;
}
body.theme-fandomdesktop-light .dark {
  display: none;
}


/* IW Interwiki Customizations */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--theme-page-background-color--secondary);
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
::-webkit-scrollbar-thumb:active {
  background: #323232;
}

/* Firefox */
:root {
  scrollbar-color: #888 var(--theme-page-background-color--secondary);
  scrollbar-width: thin;
}


/* Force disable commenting on certain articles */
.page-Rules [id='articleComments']{
  display: none;
}
.page-Main_Rules [id='articleComments']{
  display: none;
}
.page-General_Notices [id='articleComments']{
  display: none;
}
.page-User_Conduct [id='articleComments']{
  display: none;
}
.page-Warnings_and_Blocks [id='articleComments']{
  display: none;
}
.page-Forums_and_Comments [id='articleComments']{
  display: none;
}
.page-Minimum_Age [id='articleComments']{
  display: none;
}
.page-Wiki_Staff [id='articleComments']{
  display: none;
}

/* IW Roblox Interwiki Template Customization */
.RobloxWikis-Head {
    background: var(--wikihd) !important;
    position: relative;
}
.theme-fandomdesktop-dark .RobloxWikis-Head::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 0 0 12px 12px;
	border-color: var(--wikihd) #282b2b;
}
.theme-fandomdesktop-light  .RobloxWikis-Head::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 0 0 12px 12px;
	border-color: var(--wikihd) #D7E0E4;
}
.RobloxWikis a:hover {
	text-decoration: underline #FFF;
}
.RobloxWikis-HeadButton {
	border: none !important;
	background: var(--wikihddark);
	box-shadow: 0 0 1px #004977;
	transition: background .2s ease;
}
.RobloxWikis-HeadButton:hover {
	background: var(--wikihddarker);
}
.RobloxWikis-HeadButton.plainlinks a::after {
	display: none;
}
.RobloxWikis-OddRow {
	background: #555;
}
.RobloxWikis-EvenRow {
	background: #333;
}


.mw-datatable td, 
.mw-datatable th {
  background-color: transparent;
}
.mw-datatable td, 
.mw-datatable th {
  background-color: transparent;
}

/* Navigation card hover transitions */
.home-nav-card:hover img {
  transform: scale(1.05);      
}
.home-nav-card:hover a > div {
  background-color: #fbf3ee !important;
}
.home-nav-card a > div {
  transition: 0.2s;
}
.home-na

.fandom-sticky-header.is-visible {
    background: linear-gradient(to right, var(--theme-sticky-nav-background-color), #e46c26, var(--theme-sticky-nav-background-color));
    color: #fff;
}
.fandom-sticky-header {
    background: linear-gradient(to right, var(--theme-sticky-nav-background-color), #e46c26, var(--theme-sticky-nav-background-color));
    color: #fff;
}
/* FLEXY AMBOXES */

.ambox-flex {
  width: 100%;
  display: flex;
}

.ambox-left {
  display: flex;
  min-width: 100px;
  min-height: 100px;
  background-color: var(--theme-border-color);
  margin-right: 0.85em;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  text-align: center; /*for just raw text*/
}

.ambox-left a {
  width: 100%; /* centers images*/
}

.ambox-right {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: var(--theme-page-background-color--secondary);
  padding: 0.5em 1em;
  font-size: 0.9em;
}

.ambox-title {
	font-weight: bold;
	line-height: 1.8em;
	font-size: 1.2em;
}

/* ------------------------------------------------------- */


a.tag {
	color: inherit;
}

/* Profile UserTag color settings */
span.user-identity-header__tag.usergroup-owner {
	background: #000000 !important;
	color: white !important;
}

span.user-identity-header__tag.usergroup-technicalmaintainer {
	background: #000000 !important;
	color: white !important;
}

span.user-identity-header__tag.usergroup-facilitator {
	background: #000000 !important;
	color: white !important;
}

span.user-identity-header__tag.usergroup-pia {
	background: #000000 !important;
	color: white !important;
}

span.user-identity-header__tag.usergroup-bureaucrat {
	background: e12a0f !important;
	color: white !important;
}

span.user-identity-header__tag.usergroup-sysop {
	background: #ec3208 !important;
	color: white !important;
}

span.user-identity-header__tag.usergroup-moderator {
	background: #2456cc !important;
	color: white !important;
}

span.user-identity-header__tag.usergroup-blocked {
	background: #ad0404 !important;
	color: white !important;
}

span.user-identity-header__tag.usergroup-newuser {
	background: #178803 !important;
	color: white !important;
}

/* Profile UserTag icon settings */
span.user-identity-header__tag.usergroup-owner::before {
  content: "person";
  font: 100 1.3em "Material Icons";
  padding-right: 4px;
  text-transform: lowercase;
  vertical-align: top;
}

span.user-identity-header__tag.usergroup-bureaucrat::before {
  content: "construction";
  font: 100 1.3em "Material Icons";
  padding-right: 4px;
  text-transform: lowercase;
  vertical-align: top;
}

span.user-identity-header__tag.usergroup-technicalmaintainer::before {
  content: "terminal";
  font: 100 1.3em "Material Icons";
  padding-right: 4px;
  text-transform: lowercase;
  vertical-align: top;
}

span.user-identity-header__tag.usergroup-facilitator::before {
  content: "people";
  font: 100 1.3em "Material Icons";
  padding-right: 4px;
  text-transform: lowercase;
  vertical-align: top;
}

span.user-identity-header__tag.usergroup-pia::before {
  content: "people";
  font: 100 1.3em "Material Icons";
  padding-right: 4px;
  text-transform: lowercase;
  vertical-align: top;
}

span.user-identity-header__tag.usergroup-sysop::before {
  content: "construction";
  font: 100 1.3em "Material Icons";
  padding-right: 4px;
  text-transform: lowercase;
  vertical-align: top;
}

span.user-identity-header__tag.usergroup-moderator::before {
  content: "construction";
  font: 100 1.3em "Material Icons";
  padding-right: 4px;
  text-transform: lowercase;
  vertical-align: top;
}

span.user-identity-header__tag.usergroup-blocked::before {
  content: "block";
  font: 100 1.3em "Material Icons";
  padding-right: 4px;
  text-transform: lowercase;
  vertical-align: top;
}
